/bitcode_strip
/check_dylib
/checksyms
/cmpdylib
/codesign_allocate
/ctf_insert
/inout
/install_name_tool
/libtool
/lipo
/nm
/nmedit
/pagestuff
/ranlib
/redo_prebinding
/seg_addr_table
/seg_hack
/segedit
/size
/strings
/strip
/vtool
